.product{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 200px;
    height: fit-content;
    border-radius:10px;
   background-color:rgb(250, 245, 245);
  

margin-bottom:10px;
font-family: 'Alumni Sans Pinstripe', sans-serif;
}
#product-price{
    font-weight: 400;
}
.product>img{
width: 100px;
height: 100px;
object-fit: contain;
padding:10px

}
.product-rating{
    width:100%;
    display: flex;
    justify-content: center;
}
#product-price{
margin-top:10px;
font-weight: 800;


}
#add-btn{
    background-color: rgb(63, 65, 65);
    margin: 0;
    color:grey
 
}
#add-btn:hover{
    color:rgb(168, 109, 0)
 
}
.product-info{
   
height: 100px;;
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin:0;
font-weight: 800;
font-size: 20px;
}
#add-icon{
    
}

.product-info>h3{
    text-align: center;
    margin:0l
}